<h1>Welcome <%= current_user.username %></h1>

<%= link_to "Edit Account", edit_user_path(current_user) %>
<%= link_to "Delete Account", current_user, data: { confirm: "Are you sure?" },method: :delete %>

